html, body, {height:100%; margin: 0px;width:100%; font-family: "Open Sans", Helvetica, sans-serif;}

body {
}

nav.main a h2{
	color:black ;
}

nav.main a:hover h2{
	color:#333 ;
}


nav h2 {
	margin-left: 30px;
	font-weight: 600;
}

nav.main {
	padding-top: 100px;	
	height: 100vh;
	width: 300px;
	position:fixed;
	z-index:999;
	background: /*url(../images/backpanel.png) bottom left no-repeat*/ white;
}

nav.main ul {
	display: inline-block;
	list-style: none;
	margin-left: 30px;
	font-size: 1.1em;
	line-height: 1.2em;
}

nav.main a {
	text-decoration: none;
	color: #888;
}

nav.main a:hover {
	color: #333;
}

.copyright {
	position: absolute;
	font-size: 0.9em;
	left: 30px;
	bottom: 100px;
	color: #999;
}

.content {
	height: 100vh;
	width: 100%;
	white-space:nowrap;
	overflow-y:hidden;
	background-color: ghostwhite;

}

.content-contain {

	height: 100%;
	margin-left: 300px;
	overflow-x: scroll;
 	white-space:nowrap;
	z-index:99;
}

.wrap {
	/*padding: 20px;*/

}


.content img {
	display: inline-block;
	max-height: 700px;
}

.desc {
	position: fixed;
	bottom: 20px;
	margin-left: 30px;
	width: 55%;
	white-space: normal;
}

.desc p {
	font-size: 1.1em;
}

.desc h3 {
	margin-bottom: 0.8rem;

}

.desc h4 {
	margin-bottom: 1rem;
	font-size: 2.4rem ;
}

.caption-wrap {
	display: inline-block;
	max-height: 700px;
}

.caption-wrap p {
height: 40px;
padding: 10px 30px 0  30px;
background-color: rgba(0,0,0,0.9);
position:relative;
top: -100px;
color: ghostwhite;
font-size: 1.2em;
line-height: 2em;
opacity: 0;
transition: ease 0.5s;
display: table-cell;
font-style: italic;
}

.caption-wrap:hover p {
opacity: 100;

}


/* SAME PROPORTION IMG SIZING*/
@media (max-width: 1600px) {

.content img {
height: auto;
width: auto;
max-height:600px;
}
}

@media (max-width: 1000px) {
.content img {
height: auto;
width: auto;
max-height:500px;
}
}

@media (max-width: 800px) {
.content img {
height: auto;
width: auto;
max-height:400px;
}
}

/* MORE MEDIA QUERY-ING */

@media (max-width: 650px) {
nav.main {
width: 150px;
}

.content-contain {
	margin-left:
	150px;
}
}

@media (max-width: 600px) {
.content img {
height: auto;
width: auto;
max-height:300px;
}
}

@media (max-width: 400px) {

body {
  overflow-x: hidden;
}

nav.main {
  height: 300px;
  width: 400px;
  position: relative;
}
.content {
  height: auto;
  width: 400px;
  float: left;
  left: 0;
  top: 250px;
  overflow-y: auto;
  margin-left: 0;
  white-space: normal;
}

.content-contain {
  float: left;
  width: 400px;
  margin-top: 30px;
  margin-left: 0;
  height: 100%;
  overflow-y: scroll;
  whitespace: normal;
}

.content img {
 float: left;
  max-width: 400px;
}

.caption-wrap {
  height: auto;
  width: 400px;
  float: left;
}

.desc {
	position: relative;
	top: 0;
}

.copyright {
	position: absolute;
	font-size: 0.9em;
	left: 30px;
	top: 380px;
	color: #999;
}


}
